Binaries
DerivedDataCache
Intermediate
Saved
Plugins
Content/PostApocalypticMeleeWeapons
Content/ModernCityBundle
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.user
*.suo
*.xcodeproj
*.xcworkspace